.button1 {
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
}

.button2 {
  /*width: 100%;*/
  border: none;
  padding: 0 20px;
  border-radius: 10px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.button2:hover {
  background-color: #1f1f1f;
}