.Categories_menu {
  display: flex;
  /*border-bottom: 1px solid;*/
}

.category_menu {
  cursor: pointer;
  margin: 0;
  font-weight: bold;
  /*color: #0ea5e9;*/
  color: rgb(160, 160, 160);
  padding: 8px 10px 8px 0;
  /*border-right: 1px solid;*/
}

.category_menu_selected {
  color: black;
}