.modal-backdrop {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1000;
}

.modal-content {
  margin-top: 5rem;
  background: white;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 10px;
  min-width: 300px;
  max-width: 90%;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}

.modal-content > h2 {
  text-align: center;
  /*margin-bottom: rem;*/
}

.login_menu {
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  color: #6b7280;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.menu_selected {
  color: black;
}


.modal-login {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 1rem;
}

.email-section {
  display: flex;
  gap: 3px;
  /*flex: 1;*/
}

.email-section > button{
  padding: 10px;
  background-color: #6b7280;
}

.email-section > input {
  /*margin-bottom: 1rem;*/
  padding: 10px 0 ;
  border: none;
  border-bottom: 1px solid;
  flex: 1;
}

.email-section > input:focus {
  outline: none;
}

.modal-login > input {
  padding: 10px 0 ;
  border: none;
  border-bottom: 1px solid;
  /*border-radius: 5px;*/
}

.modal-login > input:focus {
  outline: none;
}

.modal-content-bottom {
  display: flex;
  /*justify-content: right;*/
  margin-top: 0.5rem;
  padding: 10px 0;
}

.login_failed {
  color: red;
  font-size: 13px;
}

.modal-content-bottom > button {
  padding: 10px;
  flex: 1;
}

.find-pw-button-section {
  display: flex;
  justify-content: right;
}

.find-pw-button {
  padding: 5px 5px 0 0;
  color: #6b7280;
  font-size: 12px;
  cursor: pointer;
}

.find-pw-button:hover {
  color: black;
}

/*검색*/

.modal-content-search {
  padding: 2rem;
}

.modal-search {
  min-width: 400px;
  display: flex;
  border-bottom: 1px solid rgb(150,150,150);
}

.modal-search > input {
  flex: 1;
  border: none;
  font-size: 20px;
}

.modal-search > input:focus {
  outline: none;
}

.modal-search > button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.tag-auto-complete {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 14px;
  /*overflow-x: scroll;*/
}

.tag-auto-complete-item {
  border: 1px solid rgb(0,0,0,0.2);
  padding: 0.2rem 0.3rem;
  border-radius: 10px;
  color: rgb(0,0,0,0.4);
  cursor: pointer;

}

.tag-auto-complete-item:hover {
  color: rgb(0,0,0,0.6);
  border: 1px solid;
  font-weight: bolder;
}


.join {
  font-size: 14px;
  color: #6b7280;
  cursor: pointer;
}

.join:hover {
  color: black;
}


/*알림창 모달*/
.alarm-modal-section {
  position: absolute;
  background-color: white;
  z-index: 100;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  overflow: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.alarm-modal-header {
  padding: 0.75rem;
  border-bottom: 1px solid rgb(0,0,0, 0.2);
  display: flex;
  justify-content: space-between;
}

.alarm-modal-header-button-section {
  align-items: end;
  display: flex;
  gap: 0.3rem;
}

.alarm-modal-header-button-section > button {
  border: none;
  /*border-bottom: 1px solid rgb(0,0,0,0.4);*/
  background-color: white;
  padding: 0;
  font-size: 14px;
  color: rgb(0,0,0,0.4);
  cursor: pointer;
}

.alarm-modal-header-button-section > button:hover {
  color: black;
  /*font-weight: bold;*/
  transition: 0.1s;
}

.alarm-modal-content {
  /*padding: 1rem;*/
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.alarm-modal-content-item {
  font-size: 14px;
  /*cursor: pointer;*/
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.alarm-modal-item-content-viewed {
  color: rgb(0,0,0,0.4);
}

.alarm-modal-content-item:hover {
  background-color: #f7f7f7;
}

.alarm-model-item-content {
  cursor: pointer;
}

.alarm-model-item-button {
  cursor: pointer;
}

.alarm-modal-no-items {
  font-size: 14px;
  padding: 0.75rem;
  color: rgb(0,0,0,0.4);
}